/* Responsive Design */ 
@media (max-width: 768px) { 
    nav ul { 
    display: none; 
    flex-direction:column; 
    width: 100%; 
    } 
    nav ul li a { 
    padding: 1em; 
    text-align: center; 
    } 
    #nav-toggle { 
    display: block; 
    } 
    .nav-open ul { 
    display: flex; 
    } 
    } 

body {
        background-color: aliceblue;
        background-size: cover;
        background-position: center;
        background-repeat: repeat;  
        margin: 0;
        height: 100vh;

}

h1{
    align-content:first baseline;
    font-family:'Franklin Gothic Medium',;
    width: 50px;
    font-size: 3em;
}
header{
    background-color: rgba(158, 122, 68, 0.24); height: 50;
     width: 100%;
    position: fixed;
    z-index: 100;
    color: aliceblue;
    padding: 10px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
   
}

.navbar {
    
    padding: 10px;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex;
}

.navbar ul li {
    position:relative;
}

.navbar ul li a {
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.navbar ul li:hover > a {
    background-color: #2d2b2e69;
}

/* Submenú */
.navbar ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
}

.navbar ul ul li a {
    padding: 10px;
    width: 150px;
}


.navbar ul li:hover > ul {
    display: block;
}
a{
    font-family: Arial, Helvetica, sans-serif; 
    font-style: initial; 
    text-decoration: none;
}
.container-img > img{
    width: 500; height: 500; 

}
footer{
    background-color: rgb(11, 1, 24); color: rgb(253, 249, 249); padding: 10px; text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    margin-bottom: 20px;
}
