header{
  font-family: Arial, Helvetica, sans-serif;
  width: 97%;
  position: fixed;
  z-index: 100;
  color: #967f5c;
  padding: 10px;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  margin-right: 4%;
  font-size: small;
  background-color:  #ffffff45;
}

.navbar {
 display: flex;
  padding: 10px;
}

.navbar ul {
  list-style: none;
  margin-right: 5px;
  padding: 0;
  display:flex;
}

.navbar ul li {
  position:relative;
}

.navbar ul li a {
  color: #000000;
  padding: 10px 20px;
  text-decoration: none;
  display: flex ;
}

.navbar ul li:hover > a {
  background-color: #2d2b2e69;
  transition: background-color .5s ease
}

/* Submenú */
.navbar ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 0;
}

.navbar ul ul li a {
  padding: 10px;
  width: 150px;
}


.navbar ul li:hover > ul {
  display: block;
}
.contacta{
  
  
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 1rem 4rem;
  
}




/* Productos home*/
#productos-container{
    max-width: 500px;
    margin: auto;}
  
  .tarjeta-producto{
    background-color: var(--color-acento-claro);
    text-align: center;
    padding: 10px;
    max-width: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: 200ms;
  }
  
  .tarjeta-producto:hover{
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
    translate: 0px -5px;
  }
  
  .tarjeta-producto img{
    max-width:100%;
    aspect-ratio: 1.5;
  }
  
  .precio{
    font-weight: 600;
  }
  
  .tarjeta-producto button{
    font-size: larger;
    background-color: var(--color-acento);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    border:unset;
    cursor:pointer;
  }

  